@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
  }

  body {
    @apply bg-black text-gray-100;
    background-image: radial-gradient(
        circle at 25% 25%,
        rgba(139, 92, 246, 0.05) 0%,
        transparent 50%
      ),
      radial-gradient(
        circle at 75% 75%,
        rgba(236, 72, 153, 0.05) 0%,
        transparent 50%
      ),
      linear-gradient(to right, rgba(139, 92, 246, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(139, 92, 246, 0.05) 1px, transparent 1px);
    background-size: 100% 100%, 100% 100%, 50px 50px, 50px 50px;
    background-position: 0 0, 0 0, -1px -1px, -1px -1px;
  }
}
